<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
	<meta http-equiv="Content-Type" content="text/html;
   charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<link href="/webjars/materializecss/0.96.0/css/materialize.css"
	      type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
	      integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<title>index</title>
</head>

<body>

<div>
</div>

<div class="container left-align">
	<form action="#" th:action="@{/deposit}" th:object="${amount}" method="post">
		<p>Amount: <input type="text" th:field="*{value}"/>
			<input type="submit" value="Deposit" class="btn btn-primary"/>
		</p>
	</form>
</div>


<div class="container left-align" style="padding-top: 10px">
	<form action="#" th:action="@{/withdrawal}" th:object="${amount}" method="post">
		<p>Amount: <input type="text" th:field="*{value}"/>
		<input type="submit" value="Withdraw" class="btn btn-primary"/>
		</p>
	</form>
</div>


<div class="container">
	<h5 class="center-align" style="color: lightseagreen; padding-top: 40px; padding-bottom: 5px" th:text="'Hello '+${userId}">firstName</h5>
	<h5 class="center-align" style="color: lightseagreen; padding-top: 5px; padding-bottom: 30px" th:text="'Your balance is:  '+${balance} ">Balance</h5>
	
	<table class="striped bordered centered">
		<thead>
		<tr>
			<th>AccountID</th>
			<th>TxId</th>
			<th>TxAmount</th>
			<th>TxTypeId</th>
			<th>Date</th>
		
		</tr>
		</thead>
		
		<tr th:each="transaction : ${transactions}">
			<td th:text="${transaction.getAccountId()}">accountId</td>
			<td th:text="${transaction.getTransactionId()}">txId</td>
			<td th:text="${transaction.getAmount()}">txAmount</td>
			<td th:text="${transaction.getTxType()}">txTypeId</td>
			<td th:text="${transaction.getCreated()}">balance</td>
		</tr>
	
	</table>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>