<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submission Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{paymentiq/api/siirto/withdrawal/process}"  method="post">
    <p>SessionId: <input type="text" th:value="${user.sessionId}" /></p>
    <p>UserId: <input type="text" th:value="${user.userId}" /></p>
    <p>Amount: <input type="text" th:value="${user.requestAmount}" /></p>
    <p><input type="submit" value="Deposit" /> </p>
</form>

<p th:text="${t}">sample</p>
</body>
</html>